#container {
    width: 500px;
}

#container div {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    float: left;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}


.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}